.catalog {
  .catalog__tabs {
    display: flex;
    list-style: none;
    margin: 32px 0 0;
    padding: 0;
    font-size: 20px;
  }

  .catalog__tabs-content {
    margin-top: 34px;
  }

  .catalog__item {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  
  .catalog__item-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  
  .catalog__table {
    border-collapse: collapse;
  }
  
  .catalog__table-cell {
    padding: 8px 0 9px;
    vertical-align: top;
    text-decoration: none;
  
    &--padding {
      padding-top: 0;
    }
  
    & + .catalog__table-cell {
      padding-left: 16px;
    }
  }

  .catalog__table-cell--font {
    font-weight: 600;
  }
  
  .catalog__table-line + .catalog__table-line {
    border-top: 1px solid #21212133;
  }

  .catalog__table-line--price {
    .catalog__table-cell {
      padding-bottom: 0;
    }
  }

  .catalog__item--reverse-color {
    background: #212121;
    color: #ffffff;

    .catalog__table-line + .catalog__table-line {
      border-top: 1px solid #d2d2d233;
    }

    .slick-dots li button:before {
      color: white;
    }
  }
  
  .slick-prev {
    left: 10px;
    z-index: 1;
  }
  
  .slick-next {
    right: 10px;
  }
  
  .slick-prev:before, .slick-next:before {
    opacity: .75;
    color: #212121;
    border-radius: 10px;
    background-color: #ffffff85;
    box-shadow: 0px -1px 5px 1px rgba(255,255,255,1);
  }
}

@media (min-width: 375px) {
  .catalog__tabs {
    font-size: 22px;
  }
}

@media (min-width: 720px) {
  .catalog {
    .catalog__item {
      .container {
        display: flex;
        align-items: center;
      }
    }
  
    .catalog__item-pictures {
      width: 50%;
      margin-bottom: 0;
    }
  
    .catalog__item-description {
      margin-left: 16px;
    }

    .catalog__item--reverse {
      .container {
        flex-direction: row-reverse;
      }
    
      .catalog__item-pictures {
        margin-left: 16px;
      }
    
      .catalog__item-description {
        margin-left: 0;
      }
    }
  
    .catalog__table {
      font-size: 16px;
    }
  
    .slick-dots {
      bottom: 9px;

      & li button:before {
        color: black;
      }
    }

    .catalog__item--reverse {
      .slick-dots {  
        & li button:before {
          color: black;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .catalog {
    .catalog__tabs {
      margin: 36px 0 0;
      font-size: 24px;
    }

    .catalog__tabs-content {
      margin-top: 50px;
    }

    .catalog__item-description {
      margin-left: 24px;
    }

    .catalog__table {
      font-size: 22px;
    }

    .catalog__table-cell {
      padding: 13px 0;
    }

    .catalog__table-cell--padding {
      padding-top: 0;
    }

    .catalog__item--reverse {    
      .catalog__item-pictures {
        margin-left: 24px;
      }
    }
  }  
}

@media (min-width: 1150px) {
  .catalog {
    .catalog__tabs {
      font-size: 30px;
    }

    .catalog__table {
      font-size: 24px;
    }

    .catalog__table-cell {
      padding: 17px 0;
    }

    .catalog__table-cell--padding {
      padding-top: 0;
    }

    .catalog__item-description {
      margin-left: 34px;
    }

    .catalog__item--reverse {    
      .catalog__item-pictures {
        margin-left: 34px;
      }
    }
  }
}