.catalog {
  .catalog__item + .catalog__item {
    margin-top: 24px;
  }

  .catalog__tabs-list {
    display: flex;
    list-style: none;
    margin: 24px 0 0;
    padding: 0;
    font-size: 20px;
  }
  
  .catalog__tabs-content {
    margin-top: 34px;
  }
  
  .catalog__tabs-item + .catalog__tabs-item {
    margin-left: 18px;
  }
  
  .catalog__tabs-item {
    position: relative;
    opacity: .5;
    font-weight: 600;
    
    &:before {
      content: "";
      position: absolute;
      bottom: -9px;
      left: 50%;
      border-radius: 4px;
      transform: translateX(-50%);
      border: 0;
      opacity: .75;
    }

    &:hover {
      opacity: 1;

      &:before {
        border: 4px solid #212121;
        opacity: .75;
      }
    }

    &.active {
      opacity: 1;

      &:before {
        width: 95%;
        border: 4px solid #212121;
      }
    }
  }
  
  .catalog__item-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  
  .catalog__table {
    border-collapse: collapse;
  }
  
  .catalog__table-cell {
    padding: 10px 0;
    vertical-align: top;
  
    &--padding {
      padding-top: 0;
    }
  
    & + .catalog__table-cell {
      padding-left: 16px;
    }
  }

  .catalog__table-cell--font {
    font-weight: 600;
  }
  
  .catalog__table-line + .catalog__table-line {
    border-top: 2px solid #21212133;
  }

  .catalog__item--reverse-color {
    background: #212121;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;

    .catalog__table-line + .catalog__table-line {
      border-top: 2px solid #d2d2d233;
    }

    .slick-dots li button:before {
      color: white;
    }
  }
  
  .slick-prev {
    left: 10px;
    z-index: 1;
  }
  
  .slick-next {
    right: 10px;
  }
  
  .slick-prev:before, .slick-next:before {
    opacity: .75;
    color: #212121;
  }
}

@media (min-width: 375px) {
  .catalog__tabs-list {
    font-size: 22px;
  }

  .catalog__tabs-item + .catalog__tabs-item {
    margin-left: 24px;
  }
}

@media (min-width: 720px) {
  .catalog {
    .catalog__item {
      .container {
        display: flex;
      }
    }
  
    .catalog__item-pictures {
      width: 50%;
      margin-bottom: 0;
    }
  
    .catalog__item-description {
      margin-left: 16px;
    }

    .catalog__item--reverse {
      .container {
        flex-direction: row-reverse;
      }
    
      .catalog__item-pictures {
        margin-left: 16px;
      }
    
      .catalog__item-description {
        margin-left: 0;
      }
    }
  
    .catalog__table {
      font-size: 16px;
    }
  
    .slick-dots {
      bottom: 9px;

      & li button:before {
        color: black;
      }
    }

    .catalog__item--reverse {
      .slick-dots {  
        & li button:before {
          color: black;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .catalog {
    .catalog__tabs-list {
      margin: 36px 0 0;
      font-size: 24px;
    }

    .catalog__tabs-content {
      margin-top: 50px;
    }

    .catalog__tabs-item + .catalog__tabs-item {
      margin-left: 24px;
    }

    .catalog__tabs-item {
      &:before {
        bottom: -14px;
      }
    }

    .catalog__item-description {
      margin-left: 24px;
    }

    .catalog__table {
      font-size: 22px;
    }

    .catalog__table-cell {
      padding: 13px 0;
    }

    .catalog__table-cell--padding {
      padding-top: 0;
    }

    .catalog__item--reverse {    
      .catalog__item-pictures {
        margin-left: 24px;
      }
    }
  }  
}

@media (min-width: 1150px) {
  .catalog {
    .catalog__tabs-list {
      font-size: 30px;
    }

    .catalog__tabs-item + .catalog__tabs-item {
      margin-left: 34px;
    }

    .catalog__table {
      font-size: 24px;
    }

    .catalog__table-cell {
      padding: 17px 0;
    }

    .catalog__table-cell--padding {
      padding-top: 0;
    }

    .catalog__item-description {
      margin-left: 34px;
    }

    .catalog__item--reverse {    
      .catalog__item-pictures {
        margin-left: 34px;
      }
    }
  }
}